#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 20vh;
  }
  
  app-battery{
    padding-top: 30vw;
    padding-bottom: 20vw;
  }