<ion-content>
<a routerLink="/home"><ion-button class="back"><img src="../../assets/icon/Play.png" style="width: 20vw;"></ion-button></a>
<div id="container">
  <app-button [UpdateBattery]="UpdateBatteryFunc"></app-button>
  <app-battery [Size]="Size" [UseBatteryOpacity]="UseBatteryOpacity" [UseChargeOpacity]="UseChargeOpacity"></app-battery>
  <p [style]="Info">É possível puxar energia até de um ato simples</p>
  <a routerLink="/level2"><ion-button [style]="Button"><img src="../../assets/icon/Play.png" style="width: 10vh;"></ion-button></a>
</div>
</ion-content>