<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a routerLink="/level1"><ion-button>1</ion-button></a>
        </ion-col>
        <ion-col>
          <a routerLink="/level2"><ion-button>2</ion-button></a>
        </ion-col>
        <ion-col>
          <a routerLink="/level3"><ion-button>3</ion-button></a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a routerLink="/level4"><ion-button>4</ion-button></a>
        </ion-col>
        <ion-col>
          <a routerLink="/level5"><ion-button>5</ion-button></a>
        </ion-col>
        <ion-col>
          <a routerLink="/level6"><ion-button>6</ion-button></a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a routerLink="/level7"><ion-button>7</ion-button></a>
        </ion-col>
        <ion-col>
          <ion-button>8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button>9</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <a routerLink="/home"><ion-button id="back"><img src="../../assets/icon/Back.png" style="width: 20vw;"></ion-button></a>
  </div>
</ion-content>
