<ion-content>
  <div id="container">
    <table>
      <tr>
        <th colspan="4"><ion-button>1</ion-button></th>
      </tr>
      <tr>
        <th colspan="2"><ion-button>2</ion-button></th>
        <th colspan="2"><ion-button>3</ion-button></th>
      </tr>
      <tr>
        <th><ion-button>4</ion-button></th>
        <th><ion-button>5</ion-button></th>
        <th><ion-button>6</ion-button></th>
        <th><ion-button>7</ion-button></th>
      </tr>
      <tr>
        <th><ion-button>8</ion-button></th>
        <th><ion-button>9</ion-button></th>
        <th><ion-button>10</ion-button></th>
      </tr>
      <tr>
        <th><ion-button>11</ion-button></th>
        <th><ion-button>12</ion-button></th>
        <th><ion-button>13</ion-button></th>
        <th><ion-button>14</ion-button></th>
      </tr>
      <tr>
        <th colspan="4"><ion-button>15</ion-button></th>
      </tr>
    </table>
    <a routerLink="/home"><ion-button>Back</ion-button></a>
  </div>
</ion-content>
