@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 95vh;
}

ion-button{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    height: 10vh;
    width: 10vh;
    padding: 2vw;
    --border-radius: 3px;
}

#back{
    width: 60vw;
    height: 25vw;
    --border-radius: 3px;
    margin-top: 3vw;
}