@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

app-battery{
  padding-bottom: 15vw;
  padding-top: 0vh;
}

app-button{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
