@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@media screen and (orientation: portrait) {
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
  
  @media screen and (orientation: portrait) {
  app-battery{
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}

  @media screen and (orientation: portrait) {
  app-button{
    padding-top: 7vh;
    padding-bottom: 10vh;
  }
}

  @media screen and (orientation: portrait) {
  ion-button {
    width: 45vw;
    height: 10vh;
    --border-radius: 5px;
  }
}

  @media screen and (orientation: portrait) {
  #back {
    width: 15vw;
    height: 15vw;
  }
  }

  @media screen and (orientation: portrait) {
  p {
    font-family: 'Nunito', sans-serif;
    font-size: 7vw;
    width: 70%;
    font-weight:100;
    text-align: center;
    text-transform: uppercase;
    color: #428CFF;
  }
}

  @media screen and (orientation: landscape) {
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 7vh;
    justify-content: space-around;
  }
}

  @media screen and (orientation: landscape) {
    app-battery {
      padding-left: 15vw;
    }
  }
  
  @media screen and (orientation: landscape) {
    p {
      font-family: 'Nunito', sans-serif;
      font-size: 7vh;
      font-weight:100;
      text-align: center;
      text-transform: uppercase;
      color: #428CFF;
    }
  }

  @media screen and (orientation: landscape) {
    #back {
      width: 15vh;
      height: 15vh;
    }
    }

  @media screen and (orientation: landscape) {
    ion-button {
      width: 35vh;
      height: 8vw;
      --border-radius: 5px;
    }
  }