@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

  @media screen and (orientation: landscape) {
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 7vh;
    justify-content: space-around;
  }

  app-battery {
    padding-left: 15vw;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 7vh;
    font-weight:100;
    text-align: center;
    text-transform: uppercase;
    color: #428CFF;
  }

  #back {
    width: 15vh;
    height: 15vh;
    --border-radius: 3px;
    margin-left: 3vh;
    margin-top: 3vh;
  }

  ion-button {
    width: 35vh;
    height: 8vw;
    --border-radius: 5px;
  }
}