<ion-content [fullscreen]="true">
  <div id="container">
    <table>
      <tr>
        <th><ion-button>Sound</ion-button></th>
        <th><ion-toggle checked></ion-toggle></th>
      </tr>
      <tr>
        <th><ion-button>Music</ion-button></th>
        <th><ion-toggle checked></ion-toggle></th>
      </tr>
      <tr>
        <th><ion-button>Language</ion-button></th>
        <th><ion-toggle checked></ion-toggle></th>
      </tr>
    </table>
    <a routerLink="/home"><ion-button>Back</ion-button></a>
  </div>
</ion-content>