<ion-content [fullscreen]="ion-rowue">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button>Sound</ion-button></ion-col>
        <ion-col><ion-toggle checked></ion-toggle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button>Music</ion-button></ion-col>
        <ion-col><ion-toggle checked></ion-toggle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button>Language</ion-button></ion-col>
        <ion-col><ion-toggle checked></ion-toggle></ion-col>
      </ion-row>
    </ion-grid>
    <a routerLink="/home"><ion-button>Back</ion-button></a>
  </div>
</ion-content>